Repository kolide/launcher, pull requests merged in 2018-02, with the labels that each got.

#255 Add cert pinning support to package tooling
  cmd/package-builder/package-builder.go
  docs/package-builder.md
  tools/packaging/packaging.go
Labels: Packaging, Security, Transport

#257 Add support for specifying root CAs
  cmd/launcher/dial_test.go
  cmd/launcher/launcher.go
  cmd/launcher/options.go
  docs/launcher.md
Labels: Security, Transport

#262 Correct uses of #!/bin/bash in linux postinstall scripts
  tools/packaging/packaging.go
Labels: Bug, Packaging

#263 Add packaging support for specifying root CAs
  cmd/package-builder/package-builder.go
  tools/packaging/packaging.go
Labels: Packaging, Security, Transport

#270 Introduce a changelog.
  CHANGELOG.md
Labels: Documentation
