Repository kolide/launcher, pull requests merged in 2024-08, with the labels that each got.

#1812 Add socketfilterfw parser table
  ee/allowedcmd/cmd_darwin.go
  ee/tables/execparsers/socketfilterfw/parser.go
  ee/tables/execparsers/socketfilterfw/parser_test.go
  ee/tables/execparsers/socketfilterfw/socketfilterfw.go
  ee/tables/execparsers/socketfilterfw/test-data/apps.txt
  ee/tables/execparsers/socketfilterfw/test-data/data.txt
  ee/tables/execparsers/socketfilterfw/test-data/empty.txt
  ee/tables/execparsers/socketfilterfw/test-data/malformed.txt
  pkg/osquery/table/platform_tables_darwin.go
Labels: component:table

#1819 [Chrome IndexedDB] Fix EOF while reading header
  ee/indexeddb/values.go
Labels: bug-fixes

#1796 build windows msi for arm and amd
  cmd/launcher/svc_config_windows.go
  cmd/package-builder/package-builder.go
  docs/package-builder.md
  pkg/packagekit/wix/service.go
  pkg/packagekit/wix/service_test.go
  pkg/packagekit/wix/wix.go
  pkg/packaging/detectLauncherVersion.go
  pkg/packaging/detectLauncherVersion_test.go
  pkg/packaging/fetch.go
  pkg/packaging/packaging.go
Labels: component:build&packaging

#1830 [LevelDB IndexedDB] Return empty rows instead of error when db or object store doesn't exist
  ee/indexeddb/indexeddb.go
  ee/katc/table_test.go
Labels: component:table

#1847 Update Homebrew upgradeable table implementation
  ee/allowedcmd/cmd_darwin.go
  ee/allowedcmd/cmd_linux.go
  ee/tables/homebrew/upgradeable.go
Labels: component:table
